<%page args="tree, outputdir, runtime_img"/>

# Remove user creation spoke
removefrom runtime /usr/lib/anaconda/modules/users

# Remove root password spoke
removefrom runtime /usr/lib/anaconda/modules/rootpassword